body, html {
  background: #cf1e0f;
}

div.container-one {
  width: 25%;
  position: fixed;
  top: 0;
  height: 100%;
  left: 0;
  background: url('../img/back_1.png?1448231189');
  background-position: right;
  background-size: cover;
}

div.container-two {
  width: 25%;
  position: fixed;
  top: 0;
  right: 0;
  height: 100%;
  background: url('../img/back2.png?1448231213');
  background-size: cover;
}

div.home-container {
  max-width: 500px;
  height: 100%;
  position: relative;
  margin: 50px auto;
  padding: 50px;
  text-align: center;
}
div.home-container img {
  width: 400px;
  margin: 0 auto;
}
div.home-container p {
  margin: 15px 0 40px;
  font-family: "Lato", sans-serif;
  font-size: 20px;
  color: #fff;
  line-height: 180%;
  font-weight: 100;
  letter-spacing: 1.4px;
}
div.home-container input[type='text'] {
  background: #cf1e0f;
  border: 2px solid #fff;
  padding: 14px 30px;
  width: 300px;
  color: #fff;
  font-weight: 100;
  font-family: "Lato", sans-serif;
  font-size: 20px;
}
div.home-container input[type='text']:-moz-placeholder {
  color: white;
}
div.home-container input[type='text']::-webkit-input-placeholder {
  color: white;
}
div.home-container button {
  color: #cf1e0f;
  border: 2px solid #fff;
  padding: 14px 30px;
  font-weight: 300;
  background: #fff;
  font-family: "Lato", sans-serif;
  font-size: 20px;
}
