body, html {
  background: #cf1e0f;
  height: 100%;
}

div.container-one {
  width: 25%;
  position: fixed;
  top: 0;
  height: 100%;
  left: 0;
  background-position: right;
  background-size: cover;
}

div.container-two {
  width: 25%;
  position: fixed;
  top: 0;
  right: 0;
  height: 100%;
  background-size: cover;
}

div.home-container {
  max-width: 500px;
  height: auto;
  position: relative;
  margin: auto;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  padding: 50px;
  text-align: center;
}
div.home-container img {
  width: 430px;
  margin: 0 auto;
}
div.home-container p {
  margin: 15px 0 40px;
  font-family: "Lato", sans-serif;
  font-size: 25px;
  color: #fff;
  line-height: 180%;
  font-weight: 100;
  letter-spacing: 1.4px;
}

div.form {
  width: 100%;
  position: fixed;
  bottom: 0;
  height: 90px;
  padding: 10px 0;
  background: #fff;
  text-align: center;
}

label {
  display: block;
  text-align: center;
  color: #cf1e0f;
  font-family: "Lato", sans-serif;
  padding: 10px 0;
}

input[type='email'] {
  color: #cf1e0f;
  border: 2px solid #cf1e0f;
  padding: 10px 30px;
  width: 200px;
  background: #fff;
  font-weight: 300;
  font-family: "Lato", sans-serif;
  font-size: 20px;
}
input[type='email']:-moz-placeholder {
  color: #cf1e0f;
}
input[type='email']::-webkit-input-placeholder {
  color: #cf1e0f;
}

button {
  background: #cf1e0f;
  border: 2px solid #cf1e0f;
  padding: 10px 30px;
  font-weight: 300;
  color: #fff;
  font-family: "Lato", sans-serif;
  font-size: 20px;
}
