body, html {
  background: #cf1e0f;
  height: 100%;
}

div.container-one {
  width: 25%;
  position: fixed;
  top: 0;
  height: 100%;
  left: 0;
  background-position: right;
  background-size: cover;
}

div.container-two {
  width: 25%;
  position: fixed;
  top: 0;
  right: 0;
  height: 100%;
  background-size: cover;
}

div.home-container {
  max-width: 500px;
  height: auto;
  position: relative;
  margin: auto;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  padding: 50px;
  text-align: center;
}
div.home-container img {
  width: 430px;
  margin: 0 auto;
}
div.home-container p {
  margin: 15px 0 40px;
  font-family: "Lato", sans-serif;
  font-size: 25px;
  color: #fff;
  line-height: 180%;
  font-weight: 100;
  letter-spacing: 1.4px;
}
div.home-container input[type='email'] {
  background: #cf1e0f;
  border: 2px solid #fff;
  padding: 10px 30px;
  width: 200px;
  color: #fff;
  font-weight: 100;
  font-family: "Lato", sans-serif;
  font-size: 20px;
}
div.home-container input[type='email']:-moz-placeholder {
  color: white;
}
div.home-container input[type='email']::-webkit-input-placeholder {
  color: white;
}
div.home-container button {
  color: #cf1e0f;
  border: 2px solid #fff;
  padding: 10px 30px;
  font-weight: 300;
  background: #fff;
  font-family: "Lato", sans-serif;
  font-size: 20px;
}
